<div class="row">
  <div class="col-12 col-sm-9">
    <form class="form-block unsubscribe" id="unsubscribe-form" action="#" method="post">

      <div class="form-textfield px-0">
          <div class="col-12 px-0 mx-sm-0">
            <label for="name" class="form-label">Email address<span class="font-color-error">*</span></label>
            <input type="text" class="form-control form-text email"  name="email" placeholder="email@domain.com">
          </div>
      </div>

      <div class="form-submit">
        <button type="submit" class="btn {{type}}">
            <span class="text text-center">{{text}}</span>
        </button>
      </div>
    </form>
  </div>
</div>


