<div class="{{ global.prefix }}-m-sign-up-form" id="sign-up-form">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12">
        <div class="form-container col-12">
          <form class="form-block " id="registration-form" action="#" method="post">
            <div class="temp-op">
              <div class="descrp">
                By completing the form, you can initiate your patient&rsquo;s enrollment in OneSource™ patient services.<br>
                <p class="head"><span>*</span>Indicates required field.</p>
              </div>
              <div class="width-form">
              <p class="head">Prescribing Physician’s Information</p>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="First name" name="fname" id='fname' />
                <label for="fname" class="form__label">First name<span>*</span></label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Last name" name="lname" id='lname'/>
                <label for="lname" class="form__label">Last name<span>*</span></label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Email" name="email" id='email'/>
                <label for="email" class="form__label">Email<span>*</span></label>
              </div>
              <p class="head mt-custom">Patient Information</p>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="First name" name="fname2" id='fname2'/>
                <label for="fname2" class="form__label">First name<span>*</span></label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Last name" name="lname2" id='lname2'/>
                <label for="lname2" class="form__label">Last name<span>*</span></label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Email" name="email2" id='email2'/>
                <label for="email2" class="form__label">Email</label>
              </div>
              <label class="chkbox-ar">I do not have an email address for the patient
                <input type="checkbox" id="emailcheck-t" name="emailcheck-t">
                <span class="checkmark"></span>
              </label>
            <p class="rad-head">Please choose a condition:</p>
            <label class="rad-ar">Anti-acetylcholine receptor (AChR) antibody-positive generalized myasthenia gravis (gMG)
                <input type="radio" name="radio">
                <span class="checkmark-rad"></span>
              </label>
              <label class="rad-ar">Anti-aquaporin-4 (AQP4) antibody-positive Neuromyelitis Optica Spectrum Disorder (NMOSD)
                <input type="radio" name="radio">
                <span class="checkmark-rad"></span>
              </label>
            </div>
          </div>
          <div class="hcp">
              <div class="descrp">
                By completing the form, you can initiate your patient&rsquo;s enrollment in OneSource™ patient services.<br>
                <p class="head"><span>*</span>Indicates required field.</p>
              </div>
              <div class="width-form">
              <p class="head">Prescribing Physician’s Information</p>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="First name" name="fname" id='fname' />
                <label for="fname" class="form__label">First name<span>*</span></label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Last name" name="lname" id='lname'/>
                <label for="lname" class="form__label">Last name<span>*</span></label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Email" name="email" id='email'/>
                <label for="email" class="form__label">Email<span>*</span></label>
              </div>
              <p class="head mt-custom">Patient Information</p>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="First name" name="fname2" id='fname2'/>
                <label for="fname2" class="form__label">First name<span>*</span></label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Last name" name="lname2" id='lname2'/>
                <label for="lname2" class="form__label">Last name<span>*</span></label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Email" name="email2" id='email2'/>
                <label for="email2" class="form__label">Email</label>
              </div>
              <label class="chkbox-ar">I do not have an email address for the patient
                <input type="checkbox" id="emailcheck" name="emailcheck">
                <span class="checkmark"></span>
              </label>
            <p class="rad-head">Please choose a condition:</p>
            <label class="rad-ar">Anti-acetylcholine receptor (AChR) antibody-positive generalized myasthenia gravis (gMG)
                <input type="radio" name="radio">
                <span class="checkmark-rad"></span>
              </label>
              <label class="rad-ar">Anti-aquaporin-4 (AQP4) antibody-positive Neuromyelitis Optica Spectrum Disorder (NMOSD)
                <input type="radio" name="radio">
                <span class="checkmark-rad"></span>
              </label>
            </div>
          </div>
            <div class="patient">
              <div class="descrp">
                If you would like to enroll in OneSource™, an optional patient support program, please complete this START FORM.<br>
                <p class="head"><span>*</span>Indicates required field.</p>
              </div>
              <div class="width-form">
              <p class="head">Patient Information</p>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Last Name" name="pfname2" id='pfname2'/>
                <label for="pfname2" class="form__label">First name<span>*</span></label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Last Name" name="plname2" id='plname2'/>
                <label for="plname2" class="form__label">Last name<span>*</span></label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Email" name="pemail2" id='pemail2'/>
                <label for="pemail2" class="form__label">Email<span>*</span></label>
              </div>
              <p class="rad-head">Please choose a condition:</p>
            <label class="rad-ar">Anti-acetylcholine receptor (AChR) antibody-positive generalized myasthenia gravis (gMG)
                <input type="radio" name="radio">
                <span class="checkmark-rad"></span>
              </label>
              <label class="rad-ar">Anti-aquaporin-4 (AQP4) antibody-positive Neuromyelitis Optica Spectrum Disorder (NMOSD)
                <input type="radio" name="radio">
                <span class="checkmark-rad"></span>
              </label>

              <p class="head mt-custom">Prescribing Physician’s Information</p>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Last Name" name="pfname" id='pfname'/>
                <label for="pfname" class="form__label">First name<span>*</span></label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Last Name" name="plname" id='plname'/>
                <label for="plname" class="form__label">Last name<span>*</span></label>
              </div>
              <div class="form__group field">
                <input type="input" class="form__field" placeholder="Email" name="pemail" id='pemail'/>
                <label for="pemail" class="form__label">Email</label>
              </div>
              <label class="chkbox-ar">I do not have an email address for the physician
                <input type="checkbox" id="emailcheck2" name="emailcheck2">
                <span class="checkmark"></span>
              </label>
            </div>
            </div>

            <div class="form-submit">
              <button type="submit" class="submit-btn">
                  <span class="text text-center">Continue to electronic form</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
