<div class="{{ global.prefix }}-m-sign-up-animated-hero">
  <span class="child-hand" role="img" aria-label="Two hands reaching for each other"></span>
  <span class="adult-hand" role="img" aria-label="Two hands reaching for each other"></span>
  <div class="text-content">
    <p class="eyebrow">{{{ data.eyebrow }}}</p>
    <h1>{{ data.heroText }}</h1>
  </div>
  <a class="scroll-down" href="#sign-up-form">SCROLL DOWN <span class="dot"></span></a>
</div>
