<div class="{{ global.prefix }}-pre-form row">
    <div class="col-12">
        <h1>Ways to enroll in OneSource™:</h1>
        <div class="download-ar">
            <p>Download, print, and complete your form <a href="pdf/Alexion_Start_DigitalForm.pdf" onclick="return !window.open(this.href, 'Form', 'width=800,height=500')" target="_blank">here</a></p>
            <p class="decorated"><span>or</span></p>
        </div>
        <div class="download-ar">
            <p>Complete, sign, and submit your form electronically</p>
        </div>
        <div class="download-ar">
            <p>Please identify yourself:</p>
        </div>
        <div class="btn-sect">
            <div class="btns btn-hcp">HCP</div>
            <div class="btns btn-pat">Patient </div>
        </div>
    </div>
</div>
