<div class="{{ global.prefix }}-header">
  <div class="site-branding">
      <a href="https://alexiononesource.com/" target="_blank" class="custom-logo-link">
          <img width="395" src={{global.logo.url}} class="custom-logo" alt="OneSource" >
          {{!-- <div width="300" class="custom-logo" alt="OneSource" ></div> --}}
      </a>
  </div>

<nav id="site-navigation" class="main-navigation clearfix">
<div class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">☰</div>
<div class="menu-main-menu-container">
<ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
    <li class="menu-item">
    <a href="https://alexiononesource.com/what-is-onesource/" target="_blank">What Is OneSource?</a>
    </li>
    <li id="menu-item-88" class="menu-item menu-item-has-children">
    <a href="#">Here For Your Condition</a>
    <ul class="sub-menu">
        <li class="menu-item">
        <a href="https://alexiononesource.com/ahus-atypical-hemolytic-uremic-syndrome/" target="_blank">aHUS  (Atypical Hemolytic Uremic Syndrome)</a>
        </li>
        <li class="menu-item">
        <a href="https://alexiononesource.com/refractory-generalized-myasthenia-gravis-gmg/" target="_blank">gMG (Generalized Myasthenia Gravis)</a>
        </li>
        <li class="menu-item">
        <a href="https://alexiononesource.com/hpp-hypophosphatasia/" target="_blank">HPP (Hypophosphatasia)</a>
        </li>
        <li class="menu-item">
        <a href="https://alexiononesource.com/lal-d-lysosomal-acid-lipase-deficiency/" target="_blank">LAL-D (Lysosomal Acid Lipase Deficiency)</a>
        </li>
        <li class="menu-item">
        <a href="https://alexiononesource.com/nmosd-neuromyelitis-optica-spectrum-disorder/" target="_blank">NMOSD  (Neuromyelitis Optica Spectrum Disorder)</a>
        </li>
        <li class="menu-item">
        <a href="https://alexiononesource.com/pnh-paroxysmal-nocturnal-hemoglobinuria/" target="_blank">PNH (Paroxysmal Nocturnal Hemoglobinuria)</a>
        </li>
    </ul>
    </li>
    <li class="menu-item">
    <a href="https://alexiononesource.com/forms/" target="_blank">Get Started</a>
    </li>
    <li class="menu-item">
    <a href="https://alexiononesource.com/events/" target="_blank">RSVP For Events</a>
    </li>
</ul>
</div>
</nav>
</div>

